<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaeadditiondepartmentMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caeadditiondepartment">
    <id column="additionDepartmentId" jdbcType="VARCHAR" property="additiondepartmentid" />
    <result column="seventyPeopleNeedNum" jdbcType="INTEGER" property="seventypeopleneednum" />
    <result column="seventyDepartmentNeedNum" jdbcType="INTEGER" property="seventydepartmentneednum" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
    <result column="selectedYear" jdbcType="VARCHAR" property="selectedyear" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
    <result column="needPeopleNum" jdbcType="INTEGER" property="needpeoplenum" />
    <result column="needDepartmentNum" jdbcType="INTEGER" property="needdepartmentnum" />
    <result column="needMostPeopelNum" jdbcType="INTEGER" property="needmostpeopelnum" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caeadditiondepartment
    where additionDepartmentId = #{additiondepartmentid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caeadditiondepartment">
    insert into caeadditiondepartment (additionDepartmentId, seventyPeopleNeedNum, 
      seventyDepartmentNeedNum, createBy, updateBy, 
      createDt, updateDt, orgId, 
      compId, selectedYear, departmentId, 
      needPeopleNum, needDepartmentNum, needMostPeopelNum
      )
    values (#{additiondepartmentid,jdbcType=VARCHAR}, #{seventypeopleneednum,jdbcType=INTEGER}, 
      #{seventydepartmentneednum,jdbcType=INTEGER}, #{createby,jdbcType=VARCHAR}, #{updateby,jdbcType=VARCHAR}, 
      #{createdt,jdbcType=TIMESTAMP}, #{updatedt,jdbcType=TIMESTAMP}, #{orgid,jdbcType=VARCHAR}, 
      #{compid,jdbcType=VARCHAR}, #{selectedyear,jdbcType=VARCHAR}, #{departmentid,jdbcType=VARCHAR}, 
      #{needpeoplenum,jdbcType=INTEGER}, #{needdepartmentnum,jdbcType=INTEGER}, #{needmostpeopelnum,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caeadditiondepartment">
    update caeadditiondepartment
    set seventyPeopleNeedNum = #{seventypeopleneednum,jdbcType=INTEGER},
      seventyDepartmentNeedNum = #{seventydepartmentneednum,jdbcType=INTEGER},
      createBy = #{createby,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR},
      selectedYear = #{selectedyear,jdbcType=VARCHAR},
      departmentId = #{departmentid,jdbcType=VARCHAR},
      needPeopleNum = #{needpeoplenum,jdbcType=INTEGER},
      needDepartmentNum = #{needdepartmentnum,jdbcType=INTEGER},
      needMostPeopelNum = #{needmostpeopelnum,jdbcType=INTEGER}
    where additionDepartmentId = #{additiondepartmentid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select additionDepartmentId, seventyPeopleNeedNum, seventyDepartmentNeedNum, createBy, 
    updateBy, createDt, updateDt, orgId, compId, selectedYear, departmentId, needPeopleNum, 
    needDepartmentNum, needMostPeopelNum
    from caeadditiondepartment
    where additionDepartmentId = #{additiondepartmentid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select additionDepartmentId, seventyPeopleNeedNum, seventyDepartmentNeedNum, createBy, 
    updateBy, createDt, updateDt, orgId, compId, selectedYear, departmentId, needPeopleNum, 
    needDepartmentNum, needMostPeopelNum
    from caeadditiondepartment
  </select>
</mapper>