<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaecandidateMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caecandidate">
    <id column="candidateId" jdbcType="VARCHAR" property="candidateid" />
    <result column="candidateUUID" jdbcType="VARCHAR" property="candidateuuid" />
    <result column="selectedYear" jdbcType="VARCHAR" property="selectedyear" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="isDelete" jdbcType="VARCHAR" property="isdelete" />
    <result column="receiptNumber" jdbcType="VARCHAR" property="receiptnumber" />
    <result column="receiptDate" jdbcType="VARCHAR" property="receiptdate" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="lastNameSpelling" jdbcType="VARCHAR" property="lastnamespelling" />
    <result column="firstNameSpelling" jdbcType="VARCHAR" property="firstnamespelling" />
    <result column="certificateType" jdbcType="VARCHAR" property="certificatetype" />
    <result column="certificateNumber" jdbcType="VARCHAR" property="certificatenumber" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="ethnic" jdbcType="INTEGER" property="ethnic" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="originCountry" jdbcType="VARCHAR" property="origincountry" />
    <result column="originProvince" jdbcType="VARCHAR" property="originprovince" />
    <result column="originCity" jdbcType="VARCHAR" property="origincity" />
    <result column="originDistrict" jdbcType="VARCHAR" property="origindistrict" />
    <result column="birthCountry" jdbcType="VARCHAR" property="birthcountry" />
    <result column="birthProvince" jdbcType="VARCHAR" property="birthprovince" />
    <result column="birthCity" jdbcType="VARCHAR" property="birthcity" />
    <result column="birthDistrict" jdbcType="VARCHAR" property="birthdistrict" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="subject" jdbcType="INTEGER" property="subject" />
    <result column="subjectFirst" jdbcType="INTEGER" property="subjectfirst" />
    <result column="subjectSecond" jdbcType="INTEGER" property="subjectsecond" />
    <result column="subjectThird" jdbcType="INTEGER" property="subjectthird" />
    <result column="professional" jdbcType="VARCHAR" property="professional" />
    <result column="degreeFirst" jdbcType="INTEGER" property="degreefirst" />
    <result column="academicFirst" jdbcType="INTEGER" property="academicfirst" />
    <result column="degreeHighest" jdbcType="INTEGER" property="degreehighest" />
    <result column="academicHighest" jdbcType="INTEGER" property="academichighest" />
    <result column="isPostdoctoralExperience" jdbcType="VARCHAR" property="ispostdoctoralexperience" />
    <result column="engineeringAcademyHistory" jdbcType="VARCHAR" property="engineeringacademyhistory" />
    <result column="academyScienceHistory" jdbcType="VARCHAR" property="academysciencehistory" />
    <result column="proposedNomination" jdbcType="VARCHAR" property="proposednomination" />
    <result column="nomination" jdbcType="VARCHAR" property="nomination" />
    <result column="nomineeName" jdbcType="VARCHAR" property="nomineename" />
    <result column="nominateLeader" jdbcType="VARCHAR" property="nominateleader" />
    <result column="nominateInfoCheckLeader" jdbcType="VARCHAR" property="nominateinfocheckleader" />
    <result column="selectDepartment" jdbcType="VARCHAR" property="selectdepartment" />
    <result column="selectCommitteeNumber" jdbcType="INTEGER" property="selectcommitteenumber" />
    <result column="selectCommitteeUUID" jdbcType="VARCHAR" property="selectcommitteeuuid" />
    <result column="voteNumber" jdbcType="INTEGER" property="votenumber" />
    <result column="isAccept" jdbcType="VARCHAR" property="isaccept" />
    <result column="importBy" jdbcType="VARCHAR" property="importby" />
    <result column="importDt" jdbcType="TIMESTAMP" property="importdt" />
    <result column="isReview" jdbcType="INTEGER" property="isreview" />
    <result column="invalidReviewReason" jdbcType="VARCHAR" property="invalidreviewreason" />
    <result column="reviewBy" jdbcType="VARCHAR" property="reviewby" />
    <result column="reviewDt" jdbcType="TIMESTAMP" property="reviewdt" />
    <result column="isMajorNomination" jdbcType="VARCHAR" property="ismajornomination" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
    <result column="groupId" jdbcType="VARCHAR" property="groupid" />
    <result column="groupNumber" jdbcType="VARCHAR" property="groupnumber" />
    <result column="nominationNumber" jdbcType="VARCHAR" property="nominationnumber" />
    <result column="divisionSelected" jdbcType="VARCHAR" property="divisionselected" />
    <result column="isElected" jdbcType="VARCHAR" property="iselected" />
    <result column="nominationAcademicianList" jdbcType="VARCHAR" property="nominationacademicianlist" />
    <result column="unAcceptReason" jdbcType="VARCHAR" property="unacceptreason" />
    <result column="positionMore" jdbcType="VARCHAR" property="positionmore" />
    <result column="academicHighestMore" jdbcType="VARCHAR" property="academichighestmore" />
    <result column="degreeHighestMore" jdbcType="VARCHAR" property="degreehighestmore" />
    <result column="recommendedDepartmentName" jdbcType="VARCHAR" property="recommendeddepartmentname" />
    <result column="recommendedDepartmentLeader" jdbcType="VARCHAR" property="recommendeddepartmentleader" />
    <result column="academicFirstMore" jdbcType="VARCHAR" property="academicfirstmore" />
    <result column="degreeFirstMore" jdbcType="VARCHAR" property="degreefirstmore" />
    <result column="informationBarcode" jdbcType="VARCHAR" property="informationbarcode" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
    <result column="filePath" jdbcType="VARCHAR" property="filepath" />
    <result column="academicEthicsStatement" jdbcType="VARCHAR" property="academicethicsstatement" />
    <result column="agencyCadreStatement" jdbcType="VARCHAR" property="agencycadrestatement" />
    <result column="militaryCadreStatement" jdbcType="VARCHAR" property="militarycadrestatement" />
    <result column="isEffective" jdbcType="INTEGER" property="iseffective" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caecandidate
    where candidateId = #{candidateid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caecandidate">
    insert into caecandidate (candidateId, candidateUUID, selectedYear,
      createBy, createDt, updateBy,
      updateDt, isDelete, receiptNumber,
      receiptDate, `name`, lastNameSpelling,
      firstNameSpelling, certificateType, certificateNumber,
      gender, ethnic, birthday,
      age, originCountry, originProvince,
      originCity, originDistrict, birthCountry,
      birthProvince, birthCity, birthDistrict,
      position, subject, subjectFirst,
      subjectSecond, subjectThird, professional,
      degreeFirst, academicFirst, degreeHighest,
      academicHighest, isPostdoctoralExperience,
      engineeringAcademyHistory, academyScienceHistory,
      proposedNomination, nomination, nomineeName,
      nominateLeader, nominateInfoCheckLeader,
      selectDepartment, selectCommitteeNumber,
      selectCommitteeUUID, voteNumber, isAccept,
      importBy, importDt, isReview,
      invalidReviewReason, reviewBy, reviewDt,
      isMajorNomination, departmentId, groupId,
      groupNumber, nominationNumber, divisionSelected,
      isElected, nominationAcademicianList, unAcceptReason,
      positionMore, academicHighestMore, degreeHighestMore,
      recommendedDepartmentName, recommendedDepartmentLeader,
      academicFirstMore, degreeFirstMore, informationBarcode,
      orgId, compId, filePath,
      academicEthicsStatement, agencyCadreStatement,
      militaryCadreStatement, isEffective)
    values (#{candidateid,jdbcType=VARCHAR}, #{candidateuuid,jdbcType=VARCHAR}, #{selectedyear,jdbcType=VARCHAR},
      #{createby,jdbcType=VARCHAR}, #{createdt,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR},
      #{updatedt,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=VARCHAR}, #{receiptnumber,jdbcType=VARCHAR},
      #{receiptdate,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{lastnamespelling,jdbcType=VARCHAR},
      #{firstnamespelling,jdbcType=VARCHAR}, #{certificatetype,jdbcType=VARCHAR}, #{certificatenumber,jdbcType=VARCHAR},
      #{gender,jdbcType=INTEGER}, #{ethnic,jdbcType=INTEGER}, #{birthday,jdbcType=TIMESTAMP},
      #{age,jdbcType=INTEGER}, #{origincountry,jdbcType=VARCHAR}, #{originprovince,jdbcType=VARCHAR},
      #{origincity,jdbcType=VARCHAR}, #{origindistrict,jdbcType=VARCHAR}, #{birthcountry,jdbcType=VARCHAR},
      #{birthprovince,jdbcType=VARCHAR}, #{birthcity,jdbcType=VARCHAR}, #{birthdistrict,jdbcType=VARCHAR},
      #{position,jdbcType=INTEGER}, #{subject,jdbcType=INTEGER}, #{subjectfirst,jdbcType=INTEGER},
      #{subjectsecond,jdbcType=INTEGER}, #{subjectthird,jdbcType=INTEGER}, #{professional,jdbcType=VARCHAR},
      #{degreefirst,jdbcType=INTEGER}, #{academicfirst,jdbcType=INTEGER}, #{degreehighest,jdbcType=INTEGER},
      #{academichighest,jdbcType=INTEGER}, #{ispostdoctoralexperience,jdbcType=VARCHAR},
      #{engineeringacademyhistory,jdbcType=VARCHAR}, #{academysciencehistory,jdbcType=VARCHAR},
      #{proposednomination,jdbcType=VARCHAR}, #{nomination,jdbcType=VARCHAR}, #{nomineename,jdbcType=VARCHAR},
      #{nominateleader,jdbcType=VARCHAR}, #{nominateinfocheckleader,jdbcType=VARCHAR},
      #{selectdepartment,jdbcType=VARCHAR}, #{selectcommitteenumber,jdbcType=INTEGER},
      #{selectcommitteeuuid,jdbcType=VARCHAR}, #{votenumber,jdbcType=INTEGER}, #{isaccept,jdbcType=VARCHAR},
      #{importby,jdbcType=VARCHAR}, #{importdt,jdbcType=TIMESTAMP}, #{isreview,jdbcType=INTEGER},
      #{invalidreviewreason,jdbcType=VARCHAR}, #{reviewby,jdbcType=VARCHAR}, #{reviewdt,jdbcType=TIMESTAMP},
      #{ismajornomination,jdbcType=VARCHAR}, #{departmentid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR},
      #{groupnumber,jdbcType=VARCHAR}, #{nominationnumber,jdbcType=VARCHAR}, #{divisionselected,jdbcType=VARCHAR},
      #{iselected,jdbcType=VARCHAR}, #{nominationacademicianlist,jdbcType=VARCHAR}, #{unacceptreason,jdbcType=VARCHAR},
      #{positionmore,jdbcType=VARCHAR}, #{academichighestmore,jdbcType=VARCHAR}, #{degreehighestmore,jdbcType=VARCHAR},
      #{recommendeddepartmentname,jdbcType=VARCHAR}, #{recommendeddepartmentleader,jdbcType=VARCHAR},
      #{academicfirstmore,jdbcType=VARCHAR}, #{degreefirstmore,jdbcType=VARCHAR}, #{informationbarcode,jdbcType=VARCHAR},
      #{orgid,jdbcType=VARCHAR}, #{compid,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR},
      #{academicethicsstatement,jdbcType=VARCHAR}, #{agencycadrestatement,jdbcType=VARCHAR},
      #{militarycadrestatement,jdbcType=VARCHAR}, #{iseffective,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caecandidate">
    update caecandidate
    set candidateUUID = #{candidateuuid,jdbcType=VARCHAR},
      selectedYear = #{selectedyear,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=VARCHAR},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      isDelete = #{isdelete,jdbcType=VARCHAR},
      receiptNumber = #{receiptnumber,jdbcType=VARCHAR},
      receiptDate = #{receiptdate,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      lastNameSpelling = #{lastnamespelling,jdbcType=VARCHAR},
      firstNameSpelling = #{firstnamespelling,jdbcType=VARCHAR},
      certificateType = #{certificatetype,jdbcType=VARCHAR},
      certificateNumber = #{certificatenumber,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      ethnic = #{ethnic,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      age = #{age,jdbcType=INTEGER},
      originCountry = #{origincountry,jdbcType=VARCHAR},
      originProvince = #{originprovince,jdbcType=VARCHAR},
      originCity = #{origincity,jdbcType=VARCHAR},
      originDistrict = #{origindistrict,jdbcType=VARCHAR},
      birthCountry = #{birthcountry,jdbcType=VARCHAR},
      birthProvince = #{birthprovince,jdbcType=VARCHAR},
      birthCity = #{birthcity,jdbcType=VARCHAR},
      birthDistrict = #{birthdistrict,jdbcType=VARCHAR},
      position = #{position,jdbcType=INTEGER},
      subject = #{subject,jdbcType=INTEGER},
      subjectFirst = #{subjectfirst,jdbcType=INTEGER},
      subjectSecond = #{subjectsecond,jdbcType=INTEGER},
      subjectThird = #{subjectthird,jdbcType=INTEGER},
      professional = #{professional,jdbcType=VARCHAR},
      degreeFirst = #{degreefirst,jdbcType=INTEGER},
      academicFirst = #{academicfirst,jdbcType=INTEGER},
      degreeHighest = #{degreehighest,jdbcType=INTEGER},
      academicHighest = #{academichighest,jdbcType=INTEGER},
      isPostdoctoralExperience = #{ispostdoctoralexperience,jdbcType=VARCHAR},
      engineeringAcademyHistory = #{engineeringacademyhistory,jdbcType=VARCHAR},
      academyScienceHistory = #{academysciencehistory,jdbcType=VARCHAR},
      proposedNomination = #{proposednomination,jdbcType=VARCHAR},
      nomination = #{nomination,jdbcType=VARCHAR},
      nomineeName = #{nomineename,jdbcType=VARCHAR},
      nominateLeader = #{nominateleader,jdbcType=VARCHAR},
      nominateInfoCheckLeader = #{nominateinfocheckleader,jdbcType=VARCHAR},
      selectDepartment = #{selectdepartment,jdbcType=VARCHAR},
      selectCommitteeNumber = #{selectcommitteenumber,jdbcType=INTEGER},
      selectCommitteeUUID = #{selectcommitteeuuid,jdbcType=VARCHAR},
      voteNumber = #{votenumber,jdbcType=INTEGER},
      isAccept = #{isaccept,jdbcType=VARCHAR},
      importBy = #{importby,jdbcType=VARCHAR},
      importDt = #{importdt,jdbcType=TIMESTAMP},
      isReview = #{isreview,jdbcType=INTEGER},
      invalidReviewReason = #{invalidreviewreason,jdbcType=VARCHAR},
      reviewBy = #{reviewby,jdbcType=VARCHAR},
      reviewDt = #{reviewdt,jdbcType=TIMESTAMP},
      isMajorNomination = #{ismajornomination,jdbcType=VARCHAR},
      departmentId = #{departmentid,jdbcType=VARCHAR},
      groupId = #{groupid,jdbcType=VARCHAR},
      groupNumber = #{groupnumber,jdbcType=VARCHAR},
      nominationNumber = #{nominationnumber,jdbcType=VARCHAR},
      divisionSelected = #{divisionselected,jdbcType=VARCHAR},
      isElected = #{iselected,jdbcType=VARCHAR},
      nominationAcademicianList = #{nominationacademicianlist,jdbcType=VARCHAR},
      unAcceptReason = #{unacceptreason,jdbcType=VARCHAR},
      positionMore = #{positionmore,jdbcType=VARCHAR},
      academicHighestMore = #{academichighestmore,jdbcType=VARCHAR},
      degreeHighestMore = #{degreehighestmore,jdbcType=VARCHAR},
      recommendedDepartmentName = #{recommendeddepartmentname,jdbcType=VARCHAR},
      recommendedDepartmentLeader = #{recommendeddepartmentleader,jdbcType=VARCHAR},
      academicFirstMore = #{academicfirstmore,jdbcType=VARCHAR},
      degreeFirstMore = #{degreefirstmore,jdbcType=VARCHAR},
      informationBarcode = #{informationbarcode,jdbcType=VARCHAR},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR},
      filePath = #{filepath,jdbcType=VARCHAR},
      academicEthicsStatement = #{academicethicsstatement,jdbcType=VARCHAR},
      agencyCadreStatement = #{agencycadrestatement,jdbcType=VARCHAR},
      militaryCadreStatement = #{militarycadrestatement,jdbcType=VARCHAR},
      isEffective = #{iseffective,jdbcType=INTEGER}
    where candidateId = #{candidateid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select candidateId, candidateUUID, selectedYear, createBy, createDt, updateBy, updateDt,
    isDelete, receiptNumber, receiptDate, `name`, lastNameSpelling, firstNameSpelling,
    certificateType, certificateNumber, gender, ethnic, birthday, age, originCountry,
    originProvince, originCity, originDistrict, birthCountry, birthProvince, birthCity,
    birthDistrict, position, subject, subjectFirst, subjectSecond, subjectThird, professional,
    degreeFirst, academicFirst, degreeHighest, academicHighest, isPostdoctoralExperience,
    engineeringAcademyHistory, academyScienceHistory, proposedNomination, nomination,
    nomineeName, nominateLeader, nominateInfoCheckLeader, selectDepartment, selectCommitteeNumber,
    selectCommitteeUUID, voteNumber, isAccept, importBy, importDt, isReview, invalidReviewReason,
    reviewBy, reviewDt, isMajorNomination, departmentId, groupId, groupNumber, nominationNumber,
    divisionSelected, isElected, nominationAcademicianList, unAcceptReason, positionMore,
    academicHighestMore, degreeHighestMore, recommendedDepartmentName, recommendedDepartmentLeader,
    academicFirstMore, degreeFirstMore, informationBarcode, orgId, compId, filePath,
    academicEthicsStatement, agencyCadreStatement, militaryCadreStatement, isEffective
    from caecandidate
    where candidateId = #{candidateid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select candidateId, candidateUUID, selectedYear, createBy, createDt, updateBy, updateDt,
    isDelete, receiptNumber, receiptDate, `name`, lastNameSpelling, firstNameSpelling,
    certificateType, certificateNumber, gender, ethnic, birthday, age, originCountry,
    originProvince, originCity, originDistrict, birthCountry, birthProvince, birthCity,
    birthDistrict, position, subject, subjectFirst, subjectSecond, subjectThird, professional,
    degreeFirst, academicFirst, degreeHighest, academicHighest, isPostdoctoralExperience,
    engineeringAcademyHistory, academyScienceHistory, proposedNomination, nomination,
    nomineeName, nominateLeader, nominateInfoCheckLeader, selectDepartment, selectCommitteeNumber,
    selectCommitteeUUID, voteNumber, isAccept, importBy, importDt, isReview, invalidReviewReason,
    reviewBy, reviewDt, isMajorNomination, departmentId, groupId, groupNumber, nominationNumber,
    divisionSelected, isElected, nominationAcademicianList, unAcceptReason, positionMore,
    academicHighestMore, degreeHighestMore, recommendedDepartmentName, recommendedDepartmentLeader, 
    academicFirstMore, degreeFirstMore, informationBarcode, orgId, compId, filePath, 
    academicEthicsStatement, agencyCadreStatement, militaryCadreStatement, isEffective
    from caecandidate
  </select>
</mapper>