<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaedictionarysubjectMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caedictionarysubject">
    <id column="subjectId" jdbcType="VARCHAR" property="subjectid" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="parentId" jdbcType="VARCHAR" property="parentid" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="isEffective" jdbcType="VARCHAR" property="iseffective" />
    <result column="startTime" jdbcType="VARCHAR" property="starttime" />
    <result column="endTime" jdbcType="VARCHAR" property="endtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caedictionarysubject
    where subjectId = #{subjectid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caedictionarysubject">
    insert into caedictionarysubject (subjectId, `number`, `level`, 
      parentId, departmentId, `name`, 
      isEffective, startTime, endTime
      )
    values (#{subjectid,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{parentid,jdbcType=VARCHAR}, #{departmentid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{iseffective,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caedictionarysubject">
    update caedictionarysubject
    set `number` = #{number,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=INTEGER},
      parentId = #{parentid,jdbcType=VARCHAR},
      departmentId = #{departmentid,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      isEffective = #{iseffective,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=VARCHAR}
    where subjectId = #{subjectid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select subjectId, `number`, `level`, parentId, departmentId, `name`, isEffective, 
    startTime, endTime
    from caedictionarysubject
    where subjectId = #{subjectid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select subjectId, `number`, `level`, parentId, departmentId, `name`, isEffective, 
    startTime, endTime
    from caedictionarysubject
  </select>
</mapper>