<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaedictionarycityMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caedictionarycity">
    <id column="cityId" jdbcType="VARCHAR" property="cityid" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="territories" jdbcType="INTEGER" property="territories" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caedictionarycity
    where cityId = #{cityid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caedictionarycity">
    insert into caedictionarycity (cityId, `number`, `level`, 
      territories, `name`)
    values (#{cityid,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{territories,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caedictionarycity">
    update caedictionarycity
    set `number` = #{number,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=INTEGER},
      territories = #{territories,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR}
    where cityId = #{cityid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select cityId, `number`, `level`, territories, `name`
    from caedictionarycity
    where cityId = #{cityid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select cityId, `number`, `level`, territories, `name`
    from caedictionarycity
  </select>
</mapper>