<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaeennualelectionrulesMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caeennualelectionrules">
    <id column="ennualElectionRulesId" jdbcType="VARCHAR" property="ennualelectionrulesid" />
    <result column="overAgeCalculationTime" jdbcType="DATE" property="overagecalculationtime" />
    <result column="foreignMaxReceiptNumber" jdbcType="INTEGER" property="foreignmaxreceiptnumber" />
    <result column="selectYear" jdbcType="VARCHAR" property="selectyear" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
    <result column="MaxReceiptNumber" jdbcType="INTEGER" property="maxreceiptnumber" />
    <result column="receiptEndTime" jdbcType="DATE" property="receiptendtime" />
    <result column="ageCalculationTime" jdbcType="DATE" property="agecalculationtime" />
    <result column="foreignNeedNumber" jdbcType="INTEGER" property="foreignneednumber" />
    <result column="maxNominatesForeignNumber" jdbcType="INTEGER" property="maxnominatesforeignnumber" />
    <result column="seventyCandidateFrequency" jdbcType="INTEGER" property="seventycandidatefrequency" />
    <result column="candidateContinuousNumber" jdbcType="INTEGER" property="candidatecontinuousnumber" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caeennualelectionrules
    where ennualElectionRulesId = #{ennualelectionrulesid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caeennualelectionrules">
    insert into caeennualelectionrules (ennualElectionRulesId, overAgeCalculationTime, 
      foreignMaxReceiptNumber, selectYear, createBy, 
      updateBy, createDt, updateDt, 
      orgId, compId, MaxReceiptNumber, 
      receiptEndTime, ageCalculationTime, foreignNeedNumber, 
      maxNominatesForeignNumber, seventyCandidateFrequency, 
      candidateContinuousNumber)
    values (#{ennualelectionrulesid,jdbcType=VARCHAR}, #{overagecalculationtime,jdbcType=DATE}, 
      #{foreignmaxreceiptnumber,jdbcType=INTEGER}, #{selectyear,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, 
      #{updateby,jdbcType=VARCHAR}, #{createdt,jdbcType=TIMESTAMP}, #{updatedt,jdbcType=TIMESTAMP}, 
      #{orgid,jdbcType=VARCHAR}, #{compid,jdbcType=VARCHAR}, #{maxreceiptnumber,jdbcType=INTEGER}, 
      #{receiptendtime,jdbcType=DATE}, #{agecalculationtime,jdbcType=DATE}, #{foreignneednumber,jdbcType=INTEGER}, 
      #{maxnominatesforeignnumber,jdbcType=INTEGER}, #{seventycandidatefrequency,jdbcType=INTEGER}, 
      #{candidatecontinuousnumber,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caeennualelectionrules">
    update caeennualelectionrules
    set overAgeCalculationTime = #{overagecalculationtime,jdbcType=DATE},
      foreignMaxReceiptNumber = #{foreignmaxreceiptnumber,jdbcType=INTEGER},
      selectYear = #{selectyear,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR},
      MaxReceiptNumber = #{maxreceiptnumber,jdbcType=INTEGER},
      receiptEndTime = #{receiptendtime,jdbcType=DATE},
      ageCalculationTime = #{agecalculationtime,jdbcType=DATE},
      foreignNeedNumber = #{foreignneednumber,jdbcType=INTEGER},
      maxNominatesForeignNumber = #{maxnominatesforeignnumber,jdbcType=INTEGER},
      seventyCandidateFrequency = #{seventycandidatefrequency,jdbcType=INTEGER},
      candidateContinuousNumber = #{candidatecontinuousnumber,jdbcType=INTEGER}
    where ennualElectionRulesId = #{ennualelectionrulesid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ennualElectionRulesId, overAgeCalculationTime, foreignMaxReceiptNumber, selectYear, 
    createBy, updateBy, createDt, updateDt, orgId, compId, MaxReceiptNumber, receiptEndTime, 
    ageCalculationTime, foreignNeedNumber, maxNominatesForeignNumber, seventyCandidateFrequency, 
    candidateContinuousNumber
    from caeennualelectionrules
    where ennualElectionRulesId = #{ennualelectionrulesid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ennualElectionRulesId, overAgeCalculationTime, foreignMaxReceiptNumber, selectYear, 
    createBy, updateBy, createDt, updateDt, orgId, compId, MaxReceiptNumber, receiptEndTime, 
    ageCalculationTime, foreignNeedNumber, maxNominatesForeignNumber, seventyCandidateFrequency, 
    candidateContinuousNumber
    from caeennualelectionrules
  </select>
</mapper>