<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaemainpositionMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caemainposition">
    <id column="mainPositionId" jdbcType="VARCHAR" property="mainpositionid" />
    <result column="companyName" jdbcType="VARCHAR" property="companyname" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
    <result column="academicianId" jdbcType="VARCHAR" property="academicianid" />
    <result column="academicianUUID" jdbcType="VARCHAR" property="academicianuuid" />
    <result column="selectedYear" jdbcType="VARCHAR" property="selectedyear" />
    <result column="candidateUUID" jdbcType="VARCHAR" property="candidateuuid" />
    <result column="candidateId" jdbcType="VARCHAR" property="candidateid" />
    <result column="MainPositionSn" jdbcType="INTEGER" property="mainpositionsn" />
    <result column="startTime" jdbcType="VARCHAR" property="starttime" />
    <result column="endTime" jdbcType="VARCHAR" property="endtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caemainposition
    where mainPositionId = #{mainpositionid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caemainposition">
    insert into caemainposition (mainPositionId, companyName, `position`, 
      createBy, updateBy, createDt, 
      updateDt, orgId, compId, 
      academicianId, academicianUUID, selectedYear, 
      candidateUUID, candidateId, MainPositionSn, 
      startTime, endTime)
    values (#{mainpositionid,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{createby,jdbcType=VARCHAR}, #{updateby,jdbcType=VARCHAR}, #{createdt,jdbcType=TIMESTAMP}, 
      #{updatedt,jdbcType=TIMESTAMP}, #{orgid,jdbcType=VARCHAR}, #{compid,jdbcType=VARCHAR}, 
      #{academicianid,jdbcType=VARCHAR}, #{academicianuuid,jdbcType=VARCHAR}, #{selectedyear,jdbcType=VARCHAR}, 
      #{candidateuuid,jdbcType=VARCHAR}, #{candidateid,jdbcType=VARCHAR}, #{mainpositionsn,jdbcType=INTEGER}, 
      #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caemainposition">
    update caemainposition
    set companyName = #{companyname,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR},
      academicianId = #{academicianid,jdbcType=VARCHAR},
      academicianUUID = #{academicianuuid,jdbcType=VARCHAR},
      selectedYear = #{selectedyear,jdbcType=VARCHAR},
      candidateUUID = #{candidateuuid,jdbcType=VARCHAR},
      candidateId = #{candidateid,jdbcType=VARCHAR},
      MainPositionSn = #{mainpositionsn,jdbcType=INTEGER},
      startTime = #{starttime,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=VARCHAR}
    where mainPositionId = #{mainpositionid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select mainPositionId, companyName, `position`, createBy, updateBy, createDt, updateDt, 
    orgId, compId, academicianId, academicianUUID, selectedYear, candidateUUID, candidateId, 
    MainPositionSn, startTime, endTime
    from caemainposition
    where mainPositionId = #{mainpositionid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select mainPositionId, companyName, `position`, createBy, updateBy, createDt, updateDt, 
    orgId, compId, academicianId, academicianUUID, selectedYear, candidateUUID, candidateId, 
    MainPositionSn, startTime, endTime
    from caemainposition
  </select>
</mapper>