<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaenominationacademicianMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caenominationacademician">
    <id column="nominationAcademicianId" jdbcType="VARCHAR" property="nominationacademicianid" />
    <result column="pass" jdbcType="VARCHAR" property="pass" />
    <result column="selectedYear" jdbcType="VARCHAR" property="selectedyear" />
    <result column="candidateId" jdbcType="VARCHAR" property="candidateid" />
    <result column="candidateUUID" jdbcType="VARCHAR" property="candidateuuid" />
    <result column="academicianNumber" jdbcType="INTEGER" property="academiciannumber" />
    <result column="academicianId" jdbcType="VARCHAR" property="academicianid" />
    <result column="academicianUUID" jdbcType="VARCHAR" property="academicianuuid" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
    <result column="nominationAcademicians" jdbcType="VARCHAR" property="nominationacademicians" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caenominationacademician
    where nominationAcademicianId = #{nominationacademicianid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caenominationacademician">
    insert into caenominationacademician (nominationAcademicianId, pass, selectedYear, 
      candidateId, candidateUUID, academicianNumber, 
      academicianId, academicianUUID, departmentId, 
      createBy, updateBy, createDt, 
      updateDt, orgId, compId, 
      nominationAcademicians)
    values (#{nominationacademicianid,jdbcType=VARCHAR}, #{pass,jdbcType=VARCHAR}, #{selectedyear,jdbcType=VARCHAR}, 
      #{candidateid,jdbcType=VARCHAR}, #{candidateuuid,jdbcType=VARCHAR}, #{academiciannumber,jdbcType=INTEGER}, 
      #{academicianid,jdbcType=VARCHAR}, #{academicianuuid,jdbcType=VARCHAR}, #{departmentid,jdbcType=VARCHAR}, 
      #{createby,jdbcType=VARCHAR}, #{updateby,jdbcType=VARCHAR}, #{createdt,jdbcType=TIMESTAMP}, 
      #{updatedt,jdbcType=TIMESTAMP}, #{orgid,jdbcType=VARCHAR}, #{compid,jdbcType=VARCHAR}, 
      #{nominationacademicians,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caenominationacademician">
    update caenominationacademician
    set pass = #{pass,jdbcType=VARCHAR},
      selectedYear = #{selectedyear,jdbcType=VARCHAR},
      candidateId = #{candidateid,jdbcType=VARCHAR},
      candidateUUID = #{candidateuuid,jdbcType=VARCHAR},
      academicianNumber = #{academiciannumber,jdbcType=INTEGER},
      academicianId = #{academicianid,jdbcType=VARCHAR},
      academicianUUID = #{academicianuuid,jdbcType=VARCHAR},
      departmentId = #{departmentid,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR},
      nominationAcademicians = #{nominationacademicians,jdbcType=VARCHAR}
    where nominationAcademicianId = #{nominationacademicianid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select nominationAcademicianId, pass, selectedYear, candidateId, candidateUUID, academicianNumber, 
    academicianId, academicianUUID, departmentId, createBy, updateBy, createDt, updateDt, 
    orgId, compId, nominationAcademicians
    from caenominationacademician
    where nominationAcademicianId = #{nominationacademicianid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select nominationAcademicianId, pass, selectedYear, candidateId, candidateUUID, academicianNumber, 
    academicianId, academicianUUID, departmentId, createBy, updateBy, createDt, updateDt, 
    orgId, compId, nominationAcademicians
    from caenominationacademician
  </select>
</mapper>