<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaenationalcongressMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caenationalcongress">
    <id column="nationalCongressId" jdbcType="VARCHAR" property="nationalcongressid" />
    <result column="candidateId" jdbcType="VARCHAR" property="candidateid" />
    <result column="candidateUUID" jdbcType="VARCHAR" property="candidateuuid" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="sector" jdbcType="VARCHAR" property="sector" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
    <result column="academicianId" jdbcType="VARCHAR" property="academicianid" />
    <result column="academicianUUID" jdbcType="VARCHAR" property="academicianuuid" />
    <result column="selectedYear" jdbcType="VARCHAR" property="selectedyear" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caenationalcongress
    where nationalCongressId = #{nationalcongressid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caenationalcongress">
    insert into caenationalcongress (nationalCongressId, candidateId, 
      candidateUUID, `number`, `type`, 
      `position`, sector, createBy, 
      updateBy, createDt, updateDt, 
      orgId, compId, academicianId, 
      academicianUUID, selectedYear)
    values (#{nationalcongressid,jdbcType=VARCHAR}, #{candidateid,jdbcType=VARCHAR}, 
      #{candidateuuid,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{sector,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, 
      #{updateby,jdbcType=VARCHAR}, #{createdt,jdbcType=TIMESTAMP}, #{updatedt,jdbcType=TIMESTAMP}, 
      #{orgid,jdbcType=VARCHAR}, #{compid,jdbcType=VARCHAR}, #{academicianid,jdbcType=VARCHAR}, 
      #{academicianuuid,jdbcType=VARCHAR}, #{selectedyear,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caenationalcongress">
    update caenationalcongress
    set candidateId = #{candidateid,jdbcType=VARCHAR},
      candidateUUID = #{candidateuuid,jdbcType=VARCHAR},
      `number` = #{number,jdbcType=INTEGER},
      `type` = #{type,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      sector = #{sector,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR},
      academicianId = #{academicianid,jdbcType=VARCHAR},
      academicianUUID = #{academicianuuid,jdbcType=VARCHAR},
      selectedYear = #{selectedyear,jdbcType=VARCHAR}
    where nationalCongressId = #{nationalcongressid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select nationalCongressId, candidateId, candidateUUID, `number`, `type`, `position`, 
    sector, createBy, updateBy, createDt, updateDt, orgId, compId, academicianId, academicianUUID, 
    selectedYear
    from caenationalcongress
    where nationalCongressId = #{nationalcongressid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select nationalCongressId, candidateId, candidateUUID, `number`, `type`, `position`, 
    sector, createBy, updateBy, createDt, updateDt, orgId, compId, academicianId, academicianUUID, 
    selectedYear
    from caenationalcongress
  </select>
</mapper>