<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaequalificationrecordMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caequalificationrecord">
    <id column="qualificationRecordId" jdbcType="VARCHAR" property="qualificationrecordid" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="candidateId" jdbcType="VARCHAR" property="candidateid" />
    <result column="selectedYear" jdbcType="VARCHAR" property="selectedyear" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
    <result column="academicianId" jdbcType="VARCHAR" property="academicianid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caequalificationrecord
    where qualificationRecordId = #{qualificationrecordid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caequalificationrecord">
    insert into caequalificationrecord (qualificationRecordId, operate, reason, 
      candidateId, selectedYear, createBy, 
      updateBy, createDt, updateDt, 
      orgId, compId, academicianId
      )
    values (#{qualificationrecordid,jdbcType=VARCHAR}, #{operate,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{candidateid,jdbcType=VARCHAR}, #{selectedyear,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, 
      #{updateby,jdbcType=VARCHAR}, #{createdt,jdbcType=TIMESTAMP}, #{updatedt,jdbcType=TIMESTAMP}, 
      #{orgid,jdbcType=VARCHAR}, #{compid,jdbcType=VARCHAR}, #{academicianid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caequalificationrecord">
    update caequalificationrecord
    set operate = #{operate,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      candidateId = #{candidateid,jdbcType=VARCHAR},
      selectedYear = #{selectedyear,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR},
      academicianId = #{academicianid,jdbcType=VARCHAR}
    where qualificationRecordId = #{qualificationrecordid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select qualificationRecordId, operate, reason, candidateId, selectedYear, createBy, 
    updateBy, createDt, updateDt, orgId, compId, academicianId
    from caequalificationrecord
    where qualificationRecordId = #{qualificationrecordid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select qualificationRecordId, operate, reason, candidateId, selectedYear, createBy, 
    updateBy, createDt, updateDt, orgId, compId, academicianId
    from caequalificationrecord
  </select>
</mapper>