<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaerecogmodeMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caerecogmode">
    <id column="recogModeId" jdbcType="VARCHAR" property="recogmodeid" />
    <result column="qrSeperateChar" jdbcType="VARCHAR" property="qrseperatechar" />
    <result column="RowCount" jdbcType="INTEGER" property="rowcount" />
    <result column="ColumunCount" jdbcType="INTEGER" property="columuncount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caerecogmode
    where recogModeId = #{recogmodeid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caerecogmode">
    insert into caerecogmode (recogModeId, qrSeperateChar, `RowCount`, 
      ColumunCount)
    values (#{recogmodeid,jdbcType=VARCHAR}, #{qrseperatechar,jdbcType=VARCHAR}, #{rowcount,jdbcType=INTEGER}, 
      #{columuncount,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caerecogmode">
    update caerecogmode
    set qrSeperateChar = #{qrseperatechar,jdbcType=VARCHAR},
      `RowCount` = #{rowcount,jdbcType=INTEGER},
      ColumunCount = #{columuncount,jdbcType=INTEGER}
    where recogModeId = #{recogmodeid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select recogModeId, qrSeperateChar, `RowCount`, ColumunCount
    from caerecogmode
    where recogModeId = #{recogmodeid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select recogModeId, qrSeperateChar, `RowCount`, ColumunCount
    from caerecogmode
  </select>
</mapper>