<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaetechnologyawardsMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caetechnologyawards">
    <id column="technologyAwardsId" jdbcType="VARCHAR" property="technologyawardsid" />
    <result column="selectedYear" jdbcType="VARCHAR" property="selectedyear" />
    <result column="candidateId" jdbcType="VARCHAR" property="candidateid" />
    <result column="candidateUUID" jdbcType="VARCHAR" property="candidateuuid" />
    <result column="technologyAwardsSn" jdbcType="INTEGER" property="technologyawardssn" />
    <result column="awardYear" jdbcType="VARCHAR" property="awardyear" />
    <result column="awardName" jdbcType="VARCHAR" property="awardname" />
    <result column="awardLevel" jdbcType="VARCHAR" property="awardlevel" />
    <result column="academicianId" jdbcType="VARCHAR" property="academicianid" />
    <result column="academicianUUID" jdbcType="VARCHAR" property="academicianuuid" />
    <result column="awardType" jdbcType="VARCHAR" property="awardtype" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="certificateNumber" jdbcType="VARCHAR" property="certificatenumber" />
    <result column="majorContribution" jdbcType="VARCHAR" property="majorcontribution" />
    <result column="majorCollaborators" jdbcType="VARCHAR" property="majorcollaborators" />
    <result column="relatedSituation" jdbcType="VARCHAR" property="relatedsituation" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caetechnologyawards
    where technologyAwardsId = #{technologyawardsid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caetechnologyawards">
    insert into caetechnologyawards (technologyAwardsId, selectedYear, 
      candidateId, candidateUUID, technologyAwardsSn, 
      awardYear, awardName, awardLevel, 
      academicianId, academicianUUID, awardType, 
      `rank`, certificateNumber, majorContribution, 
      majorCollaborators, relatedSituation, createBy, 
      updateBy, createDt, updateDt, 
      orgId, compId)
    values (#{technologyawardsid,jdbcType=VARCHAR}, #{selectedyear,jdbcType=VARCHAR}, 
      #{candidateid,jdbcType=VARCHAR}, #{candidateuuid,jdbcType=VARCHAR}, #{technologyawardssn,jdbcType=INTEGER}, 
      #{awardyear,jdbcType=VARCHAR}, #{awardname,jdbcType=VARCHAR}, #{awardlevel,jdbcType=VARCHAR}, 
      #{academicianid,jdbcType=VARCHAR}, #{academicianuuid,jdbcType=VARCHAR}, #{awardtype,jdbcType=VARCHAR}, 
      #{rank,jdbcType=VARCHAR}, #{certificatenumber,jdbcType=VARCHAR}, #{majorcontribution,jdbcType=VARCHAR}, 
      #{majorcollaborators,jdbcType=VARCHAR}, #{relatedsituation,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, 
      #{updateby,jdbcType=VARCHAR}, #{createdt,jdbcType=TIMESTAMP}, #{updatedt,jdbcType=TIMESTAMP}, 
      #{orgid,jdbcType=VARCHAR}, #{compid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caetechnologyawards">
    update caetechnologyawards
    set selectedYear = #{selectedyear,jdbcType=VARCHAR},
      candidateId = #{candidateid,jdbcType=VARCHAR},
      candidateUUID = #{candidateuuid,jdbcType=VARCHAR},
      technologyAwardsSn = #{technologyawardssn,jdbcType=INTEGER},
      awardYear = #{awardyear,jdbcType=VARCHAR},
      awardName = #{awardname,jdbcType=VARCHAR},
      awardLevel = #{awardlevel,jdbcType=VARCHAR},
      academicianId = #{academicianid,jdbcType=VARCHAR},
      academicianUUID = #{academicianuuid,jdbcType=VARCHAR},
      awardType = #{awardtype,jdbcType=VARCHAR},
      `rank` = #{rank,jdbcType=VARCHAR},
      certificateNumber = #{certificatenumber,jdbcType=VARCHAR},
      majorContribution = #{majorcontribution,jdbcType=VARCHAR},
      majorCollaborators = #{majorcollaborators,jdbcType=VARCHAR},
      relatedSituation = #{relatedsituation,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR}
    where technologyAwardsId = #{technologyawardsid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select technologyAwardsId, selectedYear, candidateId, candidateUUID, technologyAwardsSn, 
    awardYear, awardName, awardLevel, academicianId, academicianUUID, awardType, `rank`, 
    certificateNumber, majorContribution, majorCollaborators, relatedSituation, createBy, 
    updateBy, createDt, updateDt, orgId, compId
    from caetechnologyawards
    where technologyAwardsId = #{technologyawardsid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select technologyAwardsId, selectedYear, candidateId, candidateUUID, technologyAwardsSn, 
    awardYear, awardName, awardLevel, academicianId, academicianUUID, awardType, `rank`, 
    certificateNumber, majorContribution, majorCollaborators, relatedSituation, createBy, 
    updateBy, createDt, updateDt, orgId, compId
    from caetechnologyawards
  </select>
</mapper>