<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaevoteMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caevote">
    <id column="voteId" jdbcType="VARCHAR" property="voteid" />
    <result column="voteTitle" jdbcType="VARCHAR" property="votetitle" />
    <result column="throughFraction" jdbcType="INTEGER" property="throughfraction" />
    <result column="blankErrorDeal" jdbcType="INTEGER" property="blankerrordeal" />
    <result column="selectMoreErrorDeal" jdbcType="INTEGER" property="selectmoreerrordeal" />
    <result column="selectYear" jdbcType="VARCHAR" property="selectyear" />
    <result column="voteStatus" jdbcType="INTEGER" property="votestatus" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
    <result column="groupId" jdbcType="VARCHAR" property="groupid" />
    <result column="roundId" jdbcType="VARCHAR" property="roundid" />
    <result column="planAcademicianNum" jdbcType="INTEGER" property="planacademiciannum" />
    <result column="voteType" jdbcType="INTEGER" property="votetype" />
    <result column="actualAcademicianNum" jdbcType="INTEGER" property="actualacademiciannum" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
    <result column="voteSn" jdbcType="INTEGER" property="votesn" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caevote
    where voteId = #{voteid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caevote">
    insert into caevote (voteId, voteTitle, throughFraction, 
      blankErrorDeal, selectMoreErrorDeal, selectYear, 
      voteStatus, departmentId, groupId, 
      roundId, planAcademicianNum, voteType, 
      actualAcademicianNum, createBy, createDt, 
      updateBy, updateDt, orgId, 
      compId, voteSn)
    values (#{voteid,jdbcType=VARCHAR}, #{votetitle,jdbcType=VARCHAR}, #{throughfraction,jdbcType=INTEGER}, 
      #{blankerrordeal,jdbcType=INTEGER}, #{selectmoreerrordeal,jdbcType=INTEGER}, #{selectyear,jdbcType=VARCHAR}, 
      #{votestatus,jdbcType=INTEGER}, #{departmentid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}, 
      #{roundid,jdbcType=VARCHAR}, #{planacademiciannum,jdbcType=INTEGER}, #{votetype,jdbcType=INTEGER}, 
      #{actualacademiciannum,jdbcType=INTEGER}, #{createby,jdbcType=VARCHAR}, #{createdt,jdbcType=TIMESTAMP}, 
      #{updateby,jdbcType=VARCHAR}, #{updatedt,jdbcType=TIMESTAMP}, #{orgid,jdbcType=VARCHAR}, 
      #{compid,jdbcType=VARCHAR}, #{votesn,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caevote">
    update caevote
    set voteTitle = #{votetitle,jdbcType=VARCHAR},
      throughFraction = #{throughfraction,jdbcType=INTEGER},
      blankErrorDeal = #{blankerrordeal,jdbcType=INTEGER},
      selectMoreErrorDeal = #{selectmoreerrordeal,jdbcType=INTEGER},
      selectYear = #{selectyear,jdbcType=VARCHAR},
      voteStatus = #{votestatus,jdbcType=INTEGER},
      departmentId = #{departmentid,jdbcType=VARCHAR},
      groupId = #{groupid,jdbcType=VARCHAR},
      roundId = #{roundid,jdbcType=VARCHAR},
      planAcademicianNum = #{planacademiciannum,jdbcType=INTEGER},
      voteType = #{votetype,jdbcType=INTEGER},
      actualAcademicianNum = #{actualacademiciannum,jdbcType=INTEGER},
      createBy = #{createby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=VARCHAR},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR},
      voteSn = #{votesn,jdbcType=INTEGER}
    where voteId = #{voteid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select voteId, voteTitle, throughFraction, blankErrorDeal, selectMoreErrorDeal, selectYear, 
    voteStatus, departmentId, groupId, roundId, planAcademicianNum, voteType, actualAcademicianNum, 
    createBy, createDt, updateBy, updateDt, orgId, compId, voteSn
    from caevote
    where voteId = #{voteid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select voteId, voteTitle, throughFraction, blankErrorDeal, selectMoreErrorDeal, selectYear, 
    voteStatus, departmentId, groupId, roundId, planAcademicianNum, voteType, actualAcademicianNum, 
    createBy, createDt, updateBy, updateDt, orgId, compId, voteSn
    from caevote
  </select>
</mapper>