<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaevoteitemMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caevoteitem">
    <id column="voteItemId" jdbcType="VARCHAR" property="voteitemid" />
    <result column="candidateId" jdbcType="VARCHAR" property="candidateid" />
    <result column="candidateName" jdbcType="VARCHAR" property="candidatename" />
    <result column="voteId" jdbcType="VARCHAR" property="voteid" />
    <result column="optionName" jdbcType="VARCHAR" property="optionname" />
    <result column="showColumnName" jdbcType="LONGVARCHAR" property="showcolumnname" />
    <result column="showColumnValue" jdbcType="LONGVARCHAR" property="showcolumnvalue" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caevoteitem
    where voteItemId = #{voteitemid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caevoteitem">
    insert into caevoteitem (voteItemId, candidateId, candidateName, 
      voteId, optionName, showColumnName, 
      showColumnValue)
    values (#{voteitemid,jdbcType=VARCHAR}, #{candidateid,jdbcType=VARCHAR}, #{candidatename,jdbcType=VARCHAR}, 
      #{voteid,jdbcType=VARCHAR}, #{optionname,jdbcType=VARCHAR}, #{showcolumnname,jdbcType=LONGVARCHAR}, 
      #{showcolumnvalue,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caevoteitem">
    update caevoteitem
    set candidateId = #{candidateid,jdbcType=VARCHAR},
      candidateName = #{candidatename,jdbcType=VARCHAR},
      voteId = #{voteid,jdbcType=VARCHAR},
      optionName = #{optionname,jdbcType=VARCHAR},
      showColumnName = #{showcolumnname,jdbcType=LONGVARCHAR},
      showColumnValue = #{showcolumnvalue,jdbcType=LONGVARCHAR}
    where voteItemId = #{voteitemid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select voteItemId, candidateId, candidateName, voteId, optionName, showColumnName, 
    showColumnValue
    from caevoteitem
    where voteItemId = #{voteitemid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select voteItemId, candidateId, candidateName, voteId, optionName, showColumnName, 
    showColumnValue
    from caevoteitem
  </select>
</mapper>