<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaevoteballotMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caevoteballot">
    <id column="voteBallotId" jdbcType="VARCHAR" property="voteballotid" />
    <result column="throughFraction" jdbcType="INTEGER" property="throughfraction" />
    <result column="blankErrorDeal" jdbcType="INTEGER" property="blankerrordeal" />
    <result column="selectMoreErrorDeal" jdbcType="INTEGER" property="selectmoreerrordeal" />
    <result column="selectYear" jdbcType="DATE" property="selectyear" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
    <result column="groupId" jdbcType="VARCHAR" property="groupid" />
    <result column="roundId" jdbcType="VARCHAR" property="roundid" />
    <result column="planAcademicianNum" jdbcType="INTEGER" property="planacademiciannum" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="actualAcademicianNum" jdbcType="INTEGER" property="actualacademiciannum" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caevoteballot
    where voteBallotId = #{voteballotid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caevoteballot">
    insert into caevoteballot (voteBallotId, throughFraction, blankErrorDeal, 
      selectMoreErrorDeal, selectYear, `status`, 
      departmentId, groupId, roundId, 
      planAcademicianNum, `type`, actualAcademicianNum
      )
    values (#{voteballotid,jdbcType=VARCHAR}, #{throughfraction,jdbcType=INTEGER}, #{blankerrordeal,jdbcType=INTEGER}, 
      #{selectmoreerrordeal,jdbcType=INTEGER}, #{selectyear,jdbcType=DATE}, #{status,jdbcType=INTEGER}, 
      #{departmentid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}, #{roundid,jdbcType=VARCHAR}, 
      #{planacademiciannum,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{actualacademiciannum,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caevoteballot">
    update caevoteballot
    set throughFraction = #{throughfraction,jdbcType=INTEGER},
      blankErrorDeal = #{blankerrordeal,jdbcType=INTEGER},
      selectMoreErrorDeal = #{selectmoreerrordeal,jdbcType=INTEGER},
      selectYear = #{selectyear,jdbcType=DATE},
      `status` = #{status,jdbcType=INTEGER},
      departmentId = #{departmentid,jdbcType=VARCHAR},
      groupId = #{groupid,jdbcType=VARCHAR},
      roundId = #{roundid,jdbcType=VARCHAR},
      planAcademicianNum = #{planacademiciannum,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      actualAcademicianNum = #{actualacademiciannum,jdbcType=INTEGER}
    where voteBallotId = #{voteballotid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select voteBallotId, throughFraction, blankErrorDeal, selectMoreErrorDeal, selectYear, 
    `status`, departmentId, groupId, roundId, planAcademicianNum, `type`, actualAcademicianNum
    from caevoteballot
    where voteBallotId = #{voteballotid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select voteBallotId, throughFraction, blankErrorDeal, selectMoreErrorDeal, selectYear, 
    `status`, departmentId, groupId, roundId, planAcademicianNum, `type`, actualAcademicianNum
    from caevoteballot
  </select>
</mapper>