<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaevotedisplayitemMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caevotedisplayitem">
    <id column="displayItemId" jdbcType="VARCHAR" property="displayitemid" />
    <result column="sn" jdbcType="INTEGER" property="sn" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="voteId" jdbcType="VARCHAR" property="voteid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caevotedisplayitem
    where displayItemId = #{displayitemid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caevotedisplayitem">
    insert into caevotedisplayitem (displayItemId, sn, title, 
      `type`, voteId)
    values (#{displayitemid,jdbcType=VARCHAR}, #{sn,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{voteid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caevotedisplayitem">
    update caevotedisplayitem
    set sn = #{sn,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      voteId = #{voteid,jdbcType=VARCHAR}
    where displayItemId = #{displayitemid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select displayItemId, sn, title, `type`, voteId
    from caevotedisplayitem
    where displayItemId = #{displayitemid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select displayItemId, sn, title, `type`, voteId
    from caevotedisplayitem
  </select>
</mapper>