<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaevoteoptionresultMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caevoteoptionresult">
    <id column="optionResultId" jdbcType="VARCHAR" property="optionresultid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caevoteoptionresult
    where optionResultId = #{optionresultid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caevoteoptionresult">
    insert into caevoteoptionresult (optionResultId)
    values (#{optionresultid,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select optionResultId
    from caevoteoptionresult
  </select>
</mapper>