<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.slave.dao.CaevotecandidateMapper">
  <resultMap id="BaseResultMap" type="com.example.slave.entity.Caevotecandidate">
    <id column="voteCandidateId" jdbcType="VARCHAR" property="votecandidateid" />
    <result column="selectYear" jdbcType="VARCHAR" property="selectyear" />
    <result column="candidateId" jdbcType="VARCHAR" property="candidateid" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentid" />
    <result column="voteRoundId" jdbcType="VARCHAR" property="voteroundid" />
    <result column="groupId" jdbcType="VARCHAR" property="groupid" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="isPass" jdbcType="INTEGER" property="ispass" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nominationNumber" jdbcType="VARCHAR" property="nominationnumber" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="createDt" jdbcType="TIMESTAMP" property="createdt" />
    <result column="receiptNumber" jdbcType="VARCHAR" property="receiptnumber" />
    <result column="updateDt" jdbcType="TIMESTAMP" property="updatedt" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="compId" jdbcType="VARCHAR" property="compid" />
    <result column="voteId" jdbcType="VARCHAR" property="voteid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from caevotecandidate
    where voteCandidateId = #{votecandidateid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.slave.entity.Caevotecandidate">
    insert into caevotecandidate (voteCandidateId, selectYear, candidateId, 
      departmentId, voteRoundId, groupId, 
      `number`, isPass, `name`, 
      nominationNumber, createBy, updateBy, 
      createDt, receiptNumber, updateDt, 
      orgId, compId, voteId
      )
    values (#{votecandidateid,jdbcType=VARCHAR}, #{selectyear,jdbcType=VARCHAR}, #{candidateid,jdbcType=VARCHAR}, 
      #{departmentid,jdbcType=VARCHAR}, #{voteroundid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{ispass,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{nominationnumber,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{updateby,jdbcType=VARCHAR}, 
      #{createdt,jdbcType=TIMESTAMP}, #{receiptnumber,jdbcType=VARCHAR}, #{updatedt,jdbcType=TIMESTAMP}, 
      #{orgid,jdbcType=VARCHAR}, #{compid,jdbcType=VARCHAR}, #{voteid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.slave.entity.Caevotecandidate">
    update caevotecandidate
    set selectYear = #{selectyear,jdbcType=VARCHAR},
      candidateId = #{candidateid,jdbcType=VARCHAR},
      departmentId = #{departmentid,jdbcType=VARCHAR},
      voteRoundId = #{voteroundid,jdbcType=VARCHAR},
      groupId = #{groupid,jdbcType=VARCHAR},
      `number` = #{number,jdbcType=INTEGER},
      isPass = #{ispass,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      nominationNumber = #{nominationnumber,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      createDt = #{createdt,jdbcType=TIMESTAMP},
      receiptNumber = #{receiptnumber,jdbcType=VARCHAR},
      updateDt = #{updatedt,jdbcType=TIMESTAMP},
      orgId = #{orgid,jdbcType=VARCHAR},
      compId = #{compid,jdbcType=VARCHAR},
      voteId = #{voteid,jdbcType=VARCHAR}
    where voteCandidateId = #{votecandidateid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select voteCandidateId, selectYear, candidateId, departmentId, voteRoundId, groupId, 
    `number`, isPass, `name`, nominationNumber, createBy, updateBy, createDt, receiptNumber, 
    updateDt, orgId, compId, voteId
    from caevotecandidate
    where voteCandidateId = #{votecandidateid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select voteCandidateId, selectYear, candidateId, departmentId, voteRoundId, groupId, 
    `number`, isPass, `name`, nominationNumber, createBy, updateBy, createDt, receiptNumber, 
    updateDt, orgId, compId, voteId
    from caevotecandidate
  </select>
</mapper>